doctype html
head
  include partials/head.pug
#container
  #header
    img(src='/images/Siemens-logo-transparent-png.png' alt='Siemens Digital Twin')
    h Digital Twin
  #viewer
  #sidebar
    include partials/sidebar.pug
  include partials/footer.pug